################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Curriculo_Marcelo_Lattes.pdf
/.gitignore
